*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: #EBDCDA;
}

#header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    margin: auto;
    background: #FFF;
}

#area-header{
    width: 1000px;
    height: 60px;
    margin: auto;
    background: #FFF;
}

h1{
    font: normal 18px verdana;
    color: #000;
    float: left;
    line-height: 60px;
}

nav{
    width: 430px;
    float: right;
}

nav a{
    color: #000;
    font: normal 14px verdana;
    margin: 0 10px;
    line-height: 60px;
}

nav a:hover{
    color: blue;
}

#fixa-header{
    width: 100%;
    height: 60px;
    clear: both;
}

/*banner*/

#banner{
    width: 100%;
    height: 350px;
    margin-top: 1px;
    background: red;
    position: relative;
    background:url(./imagens/img1.jpg) no-repeat center;
    background-size: cover;
    background-position: center;

}

#seta-left {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 1px;
    top: 150px;
}

#seta-right{
    width: 44px; 
    height: 44px;
    position: absolute;
    right: 1px;
    top: 150px;
}

#ajusta-texto{
    width: 1000px;
    height: auto;
    margin: auto;
}

#ajusta-texto h1{
    font: normal 50px verdana;
    color: #FFF;
    float: left;
    margin-top: 50px;
}

#ajusta-texto p{
    font: normal 14px verdana;
    color: #FFF;
    float: left;
    clear: both;
}

#link-vd{
    clear: both;
    font: normal 14px verdana;
    width: 140px;
    height: 38px;
    display: block;
    background: #23AFE3;
    color: #FFF;
    text-align: center;
    position: relative;
    top: 30px;
    line-height: 38px;
}

#link-vd:hover{
    color: yellow;
}

#circle-desconto {
    width: 122px;
    height: 122px;
    position: relative;
    margin: 0 0 0 200px;
}

/*informativo*/

#informativo{
    width: 100%;
    height: 70px;
    background: #32000C;
    position: relative;
}

#ajuste-info{
    width: 1000px;
    height: auto;
    margin: auto;
}

#aba-info{
    width: 270px;
    height: 100px;
    background: #CA0726;
    position: absolute;
    top: -40px;
    padding-top: 40px;
}

#aba-info p{
    font: normal 16px verdana;
    color: #FFF;
    text-align: center;
}

#aba-info p+p{
    font: normal 22px verdana;
    color: #FFF;
    text-align: center;
}

#ext-dominio{
    width: 350px;
    height: 60px;
    text-align: center;
    float: left;
    position: relative;
    top: 5px;
    left: 272px;
}

.dominiovlr{
    font: normal 18px verdana;
    width: 110px;
    text-align: center;
    margin-top: 10px;
    color: #FFF;
    float: left;
}

.dominiolinha{
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF;
}

#formulario{
    width: 400px;
    height: 60px;
    float: right;
}

#inputname{
    width: 200px;
    height: 20px;
    float: left;
    margin-top: 20px;
    padding: 5px;
    color: #FFF;
    outline:none;
    background: none;
    border: 1px solid #FFF;
}

#selectdominio{
    width: 100px;
    height: 32px;
    background: #75001E;
    float: left;
    outline: none;
    margin: 20px 2px 0 2px;
    color: #FFF;
    border: 1px solid #FFF;
}

#inputsubmit{
    width: 80px;
    height: 32px;
    background: none;
    float: left;
    margin-top: 20px;
    padding: 0px 20px;
    color: #FFF;
    border: 1px solid #FFF;
}

/*container*/

#container{
    width: 1000px; 
    height: 955px;
    background: #FFF;
    margin: auto;
    padding-top: 1px;
}

.hospedagem{
    width: 230px;
    height: 270px;
    background: #5D4A53;
    float: left;
    margin: 60px 0 0 15px;
    position: relative;
}

.hospedagem h1{
    width: 100%;
    font: bold 20px arial;
    text-align: center;
    color: #FFF;
    margin: 5px 0;
}

#linha-dashed{
    clear: both;
    width: 90%;
    height: 5px;
    display: block;
    border-bottom: 1px dashed #FFF;
    margin: auto;
}

.hospedagem p{
    width: 100%;
    font: normal 14px arial;
    color: #FFF;
    text-align: center;
    margin: 5px 0;
}

.hospedagem p+p{
    text-align: left;
    margin: 15px 10px;
}

#doze{
    font: bold 50px arial;
    color: #23AFE3;
}

#saibamais{
    width: 100%;
    font: normal 14px arial;
    color: #FFF;
    position: absolute; bottom: 5px;
    text-align: center;
}

/*destaque*/

#destaque{
    float: left;
    margin-top: 20px;
}

/*footer*/

#footer{
    float: left;
    width: 100%;
    height: 95px;
    background: #32000C;
}

#area-footer{
    width: 1000px;
    height: auto;
    margin: auto;
}

#footer-um{
    width: 678px;
    height: 70px;
    float: left;
}

#footer-um h1{
    font: normal 14px verdana;
    color: #FFF;
    margin-top: 10px;
}

#formulario-footer{
    float: left;
    width: 670px;
    height: 65px;
}

#inputname-footer{
    width: 320px;
    height: 20px;
    float: left;
    margin-top: 10px;
    padding: 5px;
    color: #FFF;
    outline: none;
    background: none;
    border:1px solid #FFF;
}

#inputsubmit-footer{
    width: 90px;
    height: 32px;
    float: left;
    margin: 10px 0 0 5px;
    background: #23afe3;
    border: none;
}

#footer-dois{
    width: 320px;
    height: 70px;
    float: right;
}

#footer-dois h1{
    font: normal 14px verdana;
    color: #FFF;
    margin-top: 10px;
}

#redesociais{
    width: 310px;
    height: 40px;
    margin-top: 15px;
    float: left;
}

.margem-icone{
    margin: 0 5px;
}